<div class="menu-area">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-fullwidth">
                        <div class="logo-wrapper">
                            <div class="logo logo-top">
                                <a href="/"><img src="/img/logo.png" alt="logo image" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="menu-container">
                            <div class="d_menu">
                                <nav class="navbar navbar-expand-lg mainmenu__menu">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1"
                                        aria-controls="bs-example-navbar-collapse-1" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon icon-menu"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="navbar-nav">
                                            <li>
                                                <a href="/">Home</a>
                                            </li>

                                            <menu-categories></menu-categories>


                                            <li>
                                                <a href="/contact">Contato</a>
                                            </li>
                                            <li>
                                                <a href="/faq">Faq</a>
                                            </li>
                                        </ul>
                                    </div>

                                </nav>
                            </div>
                        </div>

                        <div class="author-menu">

                            <div class="author-area">
                                <div class="author__notification_area">
                                    <ul>
                                        <menu-cart></menu-cart>
                                    </ul>
                                </div>

                                <div class="author-author__info has_dropdown">
                                    {{#if is_authenticated}}
                                    <div class="author__avatar online">
                                        {{else}}
                                        <div class="author__avatar offline">
                                            {{/if}}
                                            <img src="{{ avatar }}" width="50" height="40" alt="user avatar"
                                                class="rounded-circle">
                                        </div>

                                        <div class="dropdown dropdown--author">
                                            <div class="author-credits d-flex">
                                                <div class="author__avatar">
                                                    <img src="{{avatar}}" alt="user avatar" class="rounded-circle">
                                                </div>
                                                <div class="autor__info">
                                                    {{#if is_authenticated}}
                                                    <p class="name">
                                                        {{ username }} {{ last_name }}
                                                    </p>
                                                    {{else}}
                                                    Visitante
                                                    {{/if}}
                                                    <p class="amount"><a href="/buy/credits"
                                                            style="color:#32C9B7;text-decoration:underline">{{credits}}</a>
                                                    </p>

                                                </div>
                                            </div>
                                            <ul>
                                                {{#if is_authenticated}}
                                                <li>
                                                    <a href="/profile">
                                                        <span class="icon-user"></span>Profile</a>
                                                </li>
                                                <li>
                                                    <a href="/buy/credits">
                                                        <span class="icon-credit-card"></span>Add Créditos</a>
                                                </li>
                                                <li>
                                                    <a href="/favorites">
                                                        <span class="icon-heart"></span>Favoritos</a>
                                                </li>
                                                <li>
                                                    <a href="/my/lessons">
                                                        <span class="icon-social-youtube"></span>Minhas aulas</a>
                                                </li>
                                                <li>
                                                    <a href="/logout">
                                                        <span class="icon-logout"></span>Logout</a>
                                                </li>
                                                {{#if is_admin}}
                                                <li>
                                                    <a href="/admin/category"><span class="icon-tag"></span>Categorias
                                                        (Admin)</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/lessons"><span
                                                            class="icon-social-youtube"></span>Aulas
                                                        (Admin)</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/users"><span class="icon-people"></span>Alunos (Admin)</a>
                                                </li>
                                                {{/if}}
                                                {{else}}
                                                <li>
                                                    <a href="/signup">
                                                        <span class="icon-user"></span>Cadastro</a>
                                                </li>
                                                <li>
                                                    <a href="/login">
                                                        <span class="icon-logout"></span>Login</a>
                                                </li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end /.author-author__info-->
                                </div>
                                <!-- end .author-area -->
                                <!-- author area restructured for mobile -->
                                <div class="mobile_content ">
                                    <span class="icon-user menu_icon"></span>
                                    <!-- offcanvas menu -->
                                    <div class="offcanvas-menu closed">
                                        <span class="icon-close close_menu"></span>
                                        <div class="author-author__info">
                                            <div class="author__avatar v_middle">
                                                <img src="/img/user-avater.png" alt="user avatar">
                                            </div>
                                        </div>
                                        <!--end /.author-author__info-->
                                        <div class="author__notification_area">
                                            <ul>
                                                <li>
                                                    <a href="/cart">
                                                        <div class="icon_wrap">
                                                            <span class="icon-basket"></span>
                                                            <span class="notification_count purch">2</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--start .author__notification_area -->
                                        <div class="dropdown dropdown--author">
                                            <ul>
                                                <li>
                                                    <a href="author.html">
                                                        <span class="icon-user"></span>Profile</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard.html">
                                                        <span class="icon-home"></span> Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-setting.html">
                                                        <span class="icon-settings"></span> Setting</a>
                                                </li>
                                                <li>
                                                    <a href="cart.html">
                                                        <span class="icon-basket"></span>Purchases</a>
                                                </li>
                                                <li>
                                                    <a href="favourites.html">
                                                        <span class="icon-heart"></span> Favourite</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-add-credit.html">
                                                        <span class="icon-credit-card"></span>Add Credits</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-statement.html">
                                                        <span class="icon-chart"></span>Sale Statement</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-upload.html">
                                                        <span class="icon-cloud-upload"></span>Upload Item</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-manage-item.html">
                                                        <span class="icon-notebook"></span>Manage Item</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-withdrawal.html">
                                                        <span class="icon-briefcase"></span>Withdrawals</a>
                                                </li>
                                                {{#if is_authenticated}}
                                                <li>
                                                    <a href="/logout">
                                                        <span class="icon-logout"></span>Logout</a>
                                                </li>
                                                {{else}}
                                                <li>
                                                    <a href="/login">
                                                        <span class="icon-logout"></span>Login</a>
                                                </li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end /.mobile_content -->
                            </div>

                        </div>
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.container -->
            </div>
            <!-- end  -->
        </div>
    </div>